{% extends 'dashboard/index.html' %}
{% load static %}

{% block sub_title %} {{ dashboard.title }} {% endblock %}

{% block mini-dash_content %}
<div class="position-relative main-content">
	<nav class="navbar navbar-2 navbar-expand-lg position-sticky bg-white">
		<div class="container-fluid px-3 px-md-5 flex-wrap-reverse gap-2">
			{% if dashboard.back %}
			<button type="button" onclick="history.back()" class="btn lh-1 p-2 btn-light rounded-circle me-2">
				<svg class="bi" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 24 24" width="24" fill="currentColor">
					<path
						d="M3.414 7.657l3.95 3.95A1 1 0 0 1 5.95 13.02L.293 7.364a.997.997 0 0 1 0-1.414L5.95.293a1 1 0 1 1 1.414 1.414l-3.95 3.95H13a1 1 0 0 1 0 2H3.414z">
					</path>
				</svg>
			</button>
			{% endif %}
			<h4 class=" mb-0 fw-semibold">{{dashboard.title}}</h4>
			{% if dashboard.buttons %}
			<div class="hstack gap-2 ms-auto">
				{% for btn in dashboard.buttons %}
				{% if btn.url %}
				<a href="{{btn.url}}" {% if btn.disabled %}disabled{% endif %}
					class="btn btn-lg rounded-2 hstack gap-2 {{btn.class}}">
					{{btn.title}}
				</a>
				{% else %}
				<button type="button" {% if btn.disabled %}disabled{% endif %}
					class="btn btn-lg rounded-2 hstack gap-2 {{btn.class}}" data-bs-toggle="offcanvas"
					data-bs-target="{{btn.target}}">
					{{btn.title}}
				</button>
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</nav>

	{% block service_block %}{% endblock service_block %}
</div>
{% endblock  %}