{% extends 'dashboard/pages/base_layout.html' %}
{% load static %}

{% block service_block %}
{% if dashboard.context == "savings_interest" or dashboard.context == "shares" %}
<div id="tid" class="px-3 pt-3 px-md-5 pt-md-5 pb-0 {% if dashboard.context == "savings_interest" %}d-none{% endif %}">
    <div class="card border">
        {% if dashboard.context == "savings_interest" %}
        <div class="card-body">
            <p class="fs-5 text-muted mb-0">Overall Total Interest</p>
            <p class="fs-1 fw-bold mb-0" id="tin"></p>
        </div>
        {% else %}
        {% include "dashboard/pages/views/widget/shares.html" %}
        {% endif %}
    </div>
</div>
{% endif %}


<div class="p-3 p-md-5 pb-3 pb-md-5">
    <div class="txn" data-table-name="{{dashboard.context}}"
        data-table-attr='{"page":1, "per_page":50, "sort_by":null}'>
        <div class="txn-head hstack gap-2 flex-wrap-reverse"></div>
        <div class="txn-body my-4 overflow-auto">
            <table class="table mb-0">
                <thead class="table position-sticky top-0"></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="txn-foot d-flex justify-content-between"></div>
    </div>
</div>
{% block services_hidden %}{% endblock  %}
{% endblock  %}