.signreg {
    height: 100vh;
    display: flex;
    // background-color: var(--color-grey-bg);

    > section {
        &:first-child {
            padding: 4rem;
            background-color: $primary;
            flex-basis: 40%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > div {
                width: 100px;
                height: auto;
                margin-bottom: 2rem;

                > svg,
                > img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &:last-child {
            flex: 1;
            background-color: $gray-200;
            // overflow-y: auto;
            position: relative;
            height: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.errorlist {
    order: 1;
    list-style: none;
    color: var(--color-danger);
    display: block !important;
    border-radius: var(--border-radius);
    background-color: var(--color-danger-light);
    width: 100%;

    & ~ .form_input-group > input,
    & ~ .form_input-group > textarea,
    & ~ .form_input-group > .custom_dropdown-select {
        box-shadow: inset 0rem 0rem 0rem 0.1rem var(--color-grey-light), 0rem 0rem 0rem 0.2rem var(--color-danger),
            0 0.03rem 0.04rem rgba(0, 0, 0, 0.025), 0 0.09rem 0.15rem rgba(0, 0, 0, 0.05), 0 0.35rem 0.6rem rgba(0, 0, 0, 0.1);
    }

    &:not(.nonfield) {
        padding: 0.6rem;
        margin-top: 0.2rem;
    }

    &.nonfield {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    > li {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.form-signin {
    max-width: 330px;

    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"],
    .input-group-text {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
