.signreg {
    height: 100vh;
    display: flex;
    // background-color: var(--color-grey-bg);

    > section {
        &:first-child {
            padding: 4rem;
            background-color: $primary;
            flex-basis: 40%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > div {
                width: 100px;
                height: auto;
                margin-bottom: 2rem;

                > svg,
                > img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &:last-child {
            flex: 1;
            background-color: $gray-200;
            // overflow-y: auto;
            position: relative;
            height: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.errorlist,
.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.7em;
    color: #dc3545;
    list-style-type: none;
    font-weight: bold;
    list-style: none;
    padding: unset;
}

.errorlist {
    margin-top: unset;
    margin-bottom: unset;
}

.form-signin {
    max-width: 330px;

    .form-floating:focus-within {
        z-index: 2;
    }
    input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    input[type="password"],
    .input-group-text {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
