{% extends 'cedar/sign_layout.html' %}
{% load static %}
{% load widget_tweaks %}


{% block sign_head %}Password Reset{% endblock sign_head %}
{% block sign_sub_title %}Password Reset{% endblock %}

{% block sign_view %}
<form method="post">
    {% csrf_token %}

    <h3 class="h1 mb-1 fw-normal text-center">Reset Form</h3>
    <p class="h6 mb-3 fw-bold text-center">Input email to continue with reset process.</p>

    <div class="form-floating">
        {{form.email|add_class:"form-control"|attr:"placeholder:name@example.com"}}
        <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
        {{form.email.errors}}
    </div>

    <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Proceed</button>

    <div class="text-center">
        <a href="{% url 'sign_in' %}" class="link">&larr; Back to Login</a>
    </div>

</form>
{% endblock  %}