{% extends 'cedar/sign_layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block sign_head %}Password Reset Confirm{% endblock sign_head %}
{% block sign_sub_title %}Password Reset Confirm{% endblock %}

{% block sign_view %}
<form method="post">
    {% csrf_token %}
    <h3 class="h1 mb-3 fw-normal text-center">Input Password</h3>

    <div class="input-group has-validation mb-2">
        <div class="form-floating mb-2">
            {{form.new_password1|add_class:"form-control"|attr:"placeholder:Password"}}
            <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}</label>
        </div>
        <button type="button" class="input-group-text" id="passShow">
            <svg class="bi">
                <use xlink:href="{% static 'svg/sprite.svg' %}#icon-eye-open-outline"></use>
            </svg>
        </button>
        <div class="invalid-feedback">
            {{form.new_password1.errors}}
        </div>
    </div>


    <div class="input-group has-validation mb-2">
        <div class="form-floating mb-2">
            {{form.new_password2|add_class:"form-control"|attr:"placeholder:Password"}}
            <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}</label>
        </div>
        <button type="button" class="input-group-text" id="passShow">
            <svg class="bi">
                <use xlink:href="{% static 'svg/sprite.svg' %}#icon-eye-open-outline"></use>
            </svg>
        </button>
        <div class="invalid-feedback">
            {{form.new_password2.errors}}
        </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
</form>
{% endblock  %}