.navbar {
    &-1 {
        height: 4rem;
        .nav > li {
            &.dropdown {
                cursor: pointer;
            }
            &#notify {
                > span {
                    color: inherit;
                    cursor: pointer;
                    transition: all 0.5s;
                    background-color: #fff;

                    &:hover {
                        color: $primary !important;
                    }

                    > svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        fill: currentColor;
                    }
                }
                .dropdown-toggle::after {
                    display: none;
                }
            }
            #notifications-main {
                width: 25rem;
                & {
                    > li {
                        &:nth-child(2) {
                            max-height: 30rem;
                        }
                    }
                }
                @media (max-width: $bp-sm) {
                    width: 100% !important;
                    position: fixed;
                    top: 4rem;
                    border-radius: unset;
                    height: calc(100vh - 4rem);
                    box-shadow: unset !important;
                    margin-top: unset !important;

                    > li {
                        &:first-child {
                            height: 3rem;
                        }
                        &:nth-child(2) {
                            height: calc(100vh - 4rem - 3rem - 4rem);
                        }
                        &:last-child {
                            height: 4rem;
                            position: absolute;
                            bottom: 0;
                            width: 100% !important;
                            .btn {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
    &-2 {
        top: 4rem;
        z-index: 2;
        height: 4rem;
    }
}

.main-nav {
    @media (max-width: $bp-sm) {
        width: 100% !important;
    }
}
