.feather {
    width: 16px;
    height: 16px;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    @media (max-width: $bp-sm) {
        top: 4rem;
    }
}

.sidebar-sticky {
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    transition: all.5s;
    &:hover {
        background-color: rgba($primary, 0.1);
    }
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: $primary;
    font-weight: bold;
    background-color: rgba($primary, 0.1);
}
.sidebar .nav-link:hover {
    color: $primary;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: small;
}
