{% extends "base_layout.html" %}
{% load static %}

{% block title %}
{% block sign_title %}
{% block sign_sub_title %}{% endblock %} | Marafa Cedar {% endblock %}
{% endblock %}

{% block content %}
<main class="signreg">
    <section class="d-none d-sm-flex">
        <div style="margin-bottom: 1rem;width:150px;">
            <img src="{% static 'img/logo.png' %}" alt="Marafa Cedar Logo" />
        </div>
        <h2 class="h3 mb-2">Marafa Cedar</h2>
        <h1 class="h5">{% block sign_head %}{% endblock sign_head %}</h1>
        {% block sign_detail %}{% endblock sign_detail %}
    </section>
    <section class="{% block extra_class %}{% endblock extra_class %}">
        {% block sign_view %}{% endblock sign_view %}
        <p class="mt-5 mb-3 text-muted">Marafa Cedar &copy; {% now "Y" %}</p>
    </section>
</main>
{% endblock  %}