{% extends 'cedar/email/index.html' %}
{% block content_block %}
<table class="paragraph_block block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="pad">
            <div>

                {% block sub_content_block %}{% endblock sub_content_block %}

                <p>For more enquiries: email <a href="mailto:admin@Marafa Cedarco.com" target="_blank"
                        style="text-decoration: underline;" rel="noopener">admin@Marafa Cedarco.com</a>,
                    call or Whatsapp 08022227379, 08166883847,
                    +12488355778.</p>
                <p>For easy access, please
                    find below the links for various
                    transactions in Marafa Cedar Multi-Purpose
                    Cooperative</p>
            </div>
        </td>
    </tr>
</table>
<table class="html_block block-2" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="pad">
            <div align="center">
                <br />
                <ul>
                    <li>
                        For direct link to the website
                        <br /><br />
                        <a href="https://Marafa Cedarco.com/">https://Marafa Cedarco.com/</a>
                        <br /><br />
                    </li>
                    <li>
                        To register or get started or become a
                        member
                        of the Cooperative Society
                        <br /><br />
                        <a href="https://Marafa Cedarco.com/member-application-portal/">https://Marafa
                            Cedarco.com/member-application-portal/</a>
                        <br /><br />
                        (We encourage everyone to send to their
                        friends and loved ones to Register)
                        <br /><br />
                    </li>
                    <li>
                        For Marafa CedarPay Application
                        <br /><br />
                        <a href="https://Marafa Cedarco.com/Marafa Cedarpay-application/">https://Marafa
                            Cedarco.com/Marafa Cedarpay-application/</a>
                        <br /><br />
                    </li>
                    <li>
                        For Loan application
                        <br /><br />
                        <a href="https://Marafa Cedarco.com/loan-application/">https://Marafa
                            Cedarco.com/loan-application/</a>
                        <br /><br />
                    </li>
                    <li>
                        For investment (fixed deposit, Debt
                        note,
                        Agric Business, Real estate etc)
                        <br /><br />
                        <a href="https://Marafa Cedarco.com/investnow/">https://Marafa Cedarco.com/investnow/</a>
                        <br /><br />
                    </li>
                    <li>
                        For Marafa Cedar Credit
                        <br /><br />
                        <a href="https://Marafa Cedarco.com/Marafa Cedar-credit-register/">https://Marafa
                            Cedarco.com/Marafa Cedar-credit-register/</a>
                        <br /><br />
                    </li>
                    <li>
                        For direct payment of money into the
                        account, below is the account details
                        <br /><br />
                        Account Name: <strong>Marafa Cedar
                            Ltd.</strong><br />
                        Account Number:
                        <strong>1023510664.</strong><br />
                        Bank: <strong>United Bank for Africa
                            (UBA)</strong>
                        <br /><br />
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<table class="paragraph_block block-3" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="pad">
            <div>
                <p style="margin: 0;">Thank you for being a
                    valued member of Marafa Cedar.</p>
            </div>
        </td>
    </tr>
</table>
<table class="html_block block-4" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="pad">
            <div align="center">
                <br />
                <p>
                    <strong>
                        Best Begards,<br />
                        Marafa Cedar Admin Team.
                    </strong>
                </p>
            </div>
        </td>
    </tr>
</table>
{% endblock content_block %}