$primary: #198754;
$border-radius: 0.5rem;
@font-face {
    font-family: Poppins;
    src: url(/static/fonts/Poppins-Regular.ttf);
}

@import "../../vendor/scss/bootstrap/bootstrap.scss";

$bp-xl: 1399.98px; //1200px
$bp-lg: 1199.98px; //1000px
$bp-md: 991.98px; //800px
$bp-sm: 767.98px; //600px
$bp-xs: 575.98px; //400px

body {
    font-size: small;
    font-family: Poppins !important;
}

.bi {
    height: 1rem;
    width: 1rem;
}

.fw-midbold {
    font-weight: 500 !important;
}

.notify {
    > span {
        top: 0.5rem;
        right: 0.5rem;
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        display: flex;
        border-radius: var(--border-radius);
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 1.2rem;
            height: 1.2rem;
            margin: unset;
        }
    }
}

.status {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    border-radius: var($border-radius-sm);

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0.5rem;
        padding: 0.2rem;
        height: 100%;
        border-radius: 10rem;
        cursor: pointer;
        transition: all 0.5s;

        > svg {
            width: 1.6rem;
            height: 1.6rem;
            fill: currentColor;
        }
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {
            --bs-bg-opacity: 0.25;
            // background-color: rgba(to-rgb($value), var(--bs-bg-opacity));

            > svg {
                fill: #{$value} !important;
            }
        }

        &-#{$color} {
            color: #{$value};
            --bs-bg-opacity: 0.25;
            // background-color: rgba(to-rgb($value), var(--bs-bg-opacity));
        }

        &-icon {
            --bs-bg-opacity: 0.25;
            // background-color: rgba(to-rgb($value), var(--bs-bg-opacity));
            &:hover {
                background-color: #{$value};
            }
        }
    }
}

.red {
    color: var(--color-danger);
}

.none {
    display: none;
}

.make {
    &-visible {
        visibility: visible !important;
        opacity: 1 !important;
    }

    &-hidden {
        visibility: hidden !important;
        opacity: 0 !important;
    }
}

#loader {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000;

    &.fadeOut {
        opacity: 0;
        visibility: hidden;
    }
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: var(--color-primary-dark);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.note {
    padding: 2rem;
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;

    & * {
        line-height: 1.2;
    }

    ul {
        list-style: none;
        padding: unset;
    }
}

.big-toggle {
    width: 3rem !important;
    padding: 0.8rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
input[type="number"] {
    -moz-appearance: textfield !important;
}

.small {
    font-size: small !important;
}

input,
textarea {
    &::placeholder {
        font-size: small !important;
    }
}

.offcanvas-backdrop.show,
.modal-backdrop.show {
    opacity: 1;
    backdrop-filter: blur(5px);
    background: #19103d85;
}

ul.collapse,
ul.collapsing {
    list-style: none !important;
}

.spinner-border {
    &-slim {
        --bs-spinner-border-width: 0.1em;
    }
}

.card {
    --bs-card-border-color: rgba(0, 0, 0, 0.1);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    font-weight: bold;
    color: var(--bs-primary) !important;
    background-color: rgba(var(--bs-primary-rgb), 0.25) !important;
}

.select-active {
    --bs-dropdown-link-active-bg: rgba(var(--bs-primary-rgb), 0.25);
    --bs-dropdown-link-active-color: var(--bs-primary);
    font-weight: bold;
}

.form-select:not(:disabled):hover,
.form-control:not(:disabled):hover {
    border-color: #8cc3aa;
}
