.nav-pills {
    --bs-nav-pills-border-radius: 2rem;
}
.offcanvas {
    --bs-offcanvas-width: 550px;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-gray-800) !important;
}
.custom-tooltip-2 {
    --bs-tooltip-color: var(--bs-dark) !important;
    --bs-tooltip-bg: var(--bs-gray-100) !important;
}
.table {
    .badge {
        display: inline-flex;
        align-items: center;
        font-size: small;
        &::before {
            content: "";
            width: 12px;
            height: 12px;
            display: inline-block;
            background-color: currentColor;
            border-radius: 100px;
            margin-right: 5px;
        }
    }
}
.btn {
    // --border-radius: 2rem;
    // --bs-btn-border-radius: 2rem;
    font-size: small;
}

.pagination > .page-item {
    &:nth-child(2):focus-within {
        z-index: 2;
    }
    > input {
        margin-right: -1px;
        margin-left: -1px;
        border-radius: unset;
    }
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker .ranges li.active {
    background-color: $primary !important;
}

.dur_radio {
    .col {
        &:first-child > label {
            border-top-left-radius: $border-radius !important;
        }
        &:nth-child(3) > label {
            border-top-right-radius: $border-radius !important;
        }
        &:nth-child(7) > label {
            border-bottom-left-radius: $border-radius !important;
        }

        &:nth-child(9) > label {
            border-bottom-right-radius: $border-radius !important;
        }
    }

    label {
        transition: all 0.5s;
        &:hover {
            color: #fff !important;
            background-color: $primary !important;
        }
    }
}

button.btn.nav-profile {
    @extend .form-select;
    font-size: small;
    box-shadow: none !important;
    padding-right: 1.3rem;
    background-position: right center;
    &::after {
        display: none;
    }

    & + .dropdown-menu {
        top: 55px;
        right: 10px;
    }
}
.form-floating > .custom_dropdown-select > .current {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.search > .dropdown-toggle,
.custom_dropdown-select + select {
    display: block;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    white-space: nowrap !important;
    width: 100% !important;
}
.custom_dropdown-select {
    .current {
        @extend .form-select;
        text-align: left;
        &::after {
            display: none;
        }
        &:disabled {
            --bs-btn-disabled-border-color: #ced4da;
        }
    }

    .dd-searchbox {
        font-size: small !important;
    }

    &.open:after {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    &.open .card {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    &.open .option {
        cursor: pointer;
    }
}

.card-header[data-bs-toggle="collapse"] {
    display: flex;
    align-items: center;
    &::after {
        display: inline-block;
        margin-left: auto;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
}

.action,
.search {
    > button {
        display: flex;
        align-items: center;
        &::after {
            display: none;
        }
    }
}

.dropdown-menu {
    font-size: small;
}
