{% extends "cedar/sign_layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block sign_head %}Sign In{% endblock sign_head %}
{% block sign_sub_title %}Sign In{% endblock %}

{% block sign_view %}
<form method="post" class="form-signin">
    {% csrf_token %}
    <h3 class="h1 mb-1 fw-normal text-center">Welcome Back!</h3>
    <p class="h6 mb-3 fw-bold text-center">Sign in to the dashboard</p>

    {% if form.non_field_errors %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg style="fill: var(--bs-danger)" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Danger:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <div class="form-floating">
        {{form.email|add_class:"form-control"|attr:"placeholder:name@example.com"}}
        <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
        {{form.email.errors}}
    </div>
    <div class="input-group has-validation mb-2">
        <div class="form-floating">
            {{form.password|add_class:"form-control"|attr:"placeholder:Password"}}
            <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
        </div>
        <button type="button" class="input-group-text" id="passShow">
            <svg class="bi">
                <use xlink:href="{% static 'svg/sprite.svg' %}#icon-eye-open-outline"></use>
            </svg>
        </button>
        <div class="invalid-feedback">
            {{form.password.errors}}
        </div>
    </div>

    <div class="mb-2 text-end">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>
{% endblock  %}