{% extends 'cedar/sign_layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Set Password | Marafa Cedar{% endblock title %}



{% block sign_view %}
<form class="card form form-sign" method="post">
    {% csrf_token %}

    <div class="card_body">
        <h1>Set Password</h1>

        <div class="form_input">
            <label for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}:</label>

            <div class="form_input-group">
                <span class="form_input-group-tag">
                    <svg>
                        <use xlink:href="{% static 'svg/sprite.svg' %}#icon-password-outline"></use>
                    </svg>
                </span>
                {{ form.new_password1 }}
                <span class="form_input-group-tag pass_show">
                    <svg>
                        <use xlink:href="{% static 'svg/sprite.svg' %}#icon-show-outline"></use>
                    </svg>
                </span>
            </div>
            {{form.new_password1.errors}}
        </div>
        <div class="form_input">
            <label for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}:</label>

            <div class="form_input-group">
                <span class="form_input-group-tag">
                    <svg>
                        <use xlink:href="{% static 'svg/sprite.svg' %}#icon-password-outline"></use>
                    </svg>
                </span>
                {{ form.new_password2 }}
                <span class="form_input-group-tag pass_show">
                    <svg>
                        <use xlink:href="{% static 'svg/sprite.svg' %}#icon-show-outline"></use>
                    </svg>
                </span>
            </div>
            {{form.new_password2.errors}}
        </div>


        <button class="btn btn-main">
            Set Password
        </button>
    </div>

</form>
{% endblock  %}