<div tabindex="0" role="tabpanel" id="pills-eoy" aria-labelled-by="pills-eoy-tab" class="tab-pane fade mb-4">
    <h4 class="text-muted fw-semibold mb-3 border-bottom pb-3">End of Year Balances</h4>

    <div class="txn" data-table-name="eoy" data-table-attr='{"page":1, "per_page":5, "sort_by":null}'>
        <div class="txn-head hstack gap-2 flex-wrap-reverse"></div>
        <div class="txn-body my-4 overflow-auto">
            <table class="table mb-0">
                <thead class="table position-sticky top-0"></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="txn-foot d-flex justify-content-between"></div>
    </div>
</div>