<div tabindex="0" role="tabpanel" id="pills-loans" aria-labelled-by="pills-loans-tab" class="tab-pane fade mb-4">

    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap border-bottom pb-3">
        <h4 class="text-muted fw-semibold">Loans</h4>
        <div class="hstack gap-2 ms-auto">
            <button type="button" class="btn btn-lg btn-outline-primary" data-bs-toggle="offcanvas"
                data-bs-target="#lrc">
                Repay Loan
            </button>
            <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="offcanvas" data-bs-target="#lc">
                Request Loan
            </button>
        </div>
    </div>
    <div class="txn" data-table-name="loans" data-table-attr='{"page":1, "per_page":5, "sort_by":null}'>
        <div class="txn-head hstack gap-2 flex-wrap-reverse"></div>
        <div class="txn-body my-4 overflow-auto">
            <table class="table mb-0">
                <thead class="table position-sticky top-0"></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="txn-foot d-flex justify-content-between"></div>
    </div>
</div>