<div tabindex="0" role="tabpanel" id="pills-shares" aria-labelled-by="pills-shares-tab" class="tab-pane fade mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-3">
        <h4 class="text-muted fw-semibold mb-0">Shares</h4>
        <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="offcanvas" data-bs-target="#sc">
            Add Share
        </button>
    </div>


    <div style="width: 15rem; max-width:100%" class="card bg-light border-0 me-auto mb-3">
        {% include "dashboard/pages/views/widget/shares.html" %}
    </div>

    <div class="txn" data-table-name="shares" data-table-attr='{"page":1, "per_page":5, "sort_by":null}'>
        <div class="txn-head hstack gap-2 flex-wrap-reverse"></div>
        <div class="txn-body my-4 overflow-auto">
            <table class="table mb-0">
                <thead class="table position-sticky top-0"></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="txn-foot d-flex justify-content-between"></div>
    </div>
</div>