{% load static %}
{% load widget_tweaks %}

{% comment %} SAVINGS DEPOSIT MODAL {% endcomment %}
<div class="modal fade" id="sdm" tabindex="-1" aria-labelledby="sdml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sdml">Savings Deposit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="sdm">
          {% csrf_token %}
          <div class="mb-2">
            <label for="{{sdf.member.id_for_label}}" class="col-form-label p-0 fw-bold">{{sdf.member.label}}</label>
            {{sdf.member|add_class:"search-select"|attr:"aria-label:Select Member"}}
            <div class="invalid-feedback"></div>
          </div>
          <div>
            <label for="{{sdf.amount.id_for_label}}" class="col-form-label p-0 fw-bold">{{sdf.amount.label}}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="Naira">&#8358;</span>
              {{sdf.amount|add_class:"form-control"|attr:"aria-label:Amount"|attr:"placeholder:10000"}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Deposit</button>
      </div>
    </div>
  </div>
</div>

{% comment %} SAVINGS WITHDRAWAL MODAL {% endcomment %}
<div class="modal fade" id="swm" tabindex="-1" aria-labelledby="swml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="swml">Savings Withdrawal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="swm">
          {% csrf_token %}
          <div class="mb-2">
            <label for="{{swf.member.id_for_label}}" class="col-form-label p-0 fw-bold">{{swf.member.label}}</label>
            {{swf.member|add_class:"search-select"|attr:"aria-label:Select Member"}}
            <div class="invalid-feedback"></div>
          </div>

          <div>
            <label for="{{swf.amount.id_for_label}}" class="col-form-label p-0 fw-bold">{{swf.amount.label}}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="Naira">&#8358;</span>
              {{swf.amount|add_class:"form-control"|attr:"aria-label:Amount"|attr:"placeholder:10000"}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Withdraw</button>
      </div>
    </div>
  </div>
</div>

{% comment %} SHARES MODAL {% endcomment %}
<div class="modal fade" id="asm" tabindex="-1" aria-labelledby="asml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="asml">Add Shares</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="asm">
          {% csrf_token %}
          <div class="mb-2">
            <label for="{{asf.member.id_for_label}}" class="col-form-label p-0 fw-bold">{{asf.member.label}}</label>
            {{asf.member|add_class:"search-select"|attr:"aria-label:Select Member"}}
            <div class="invalid-feedback"></div>
          </div>

          <div>
            <label for="{{asf.amount.id_for_label}}" class="col-form-label p-0 fw-bold">{{asf.amount.label}}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="Naira">&#8358;</span>
              {{asf.amount|add_class:"form-control"|attr:"aria-label:Amount"|attr:"placeholder:10000"}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

{% comment %} LOANS MODAL {% endcomment %}
<div class="modal fade" id="lm" tabindex="-1" aria-labelledby="lml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lml">Request Loan</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="lm">
          {% csrf_token %}
          <div class="mb-2">
            <label for="{{lf.member.id_for_label}}" class="col-form-label p-0 fw-bold">{{lf.member.label}}</label>
            {{lf.member|add_class:"search-select"|attr:"aria-label:Select Member"}}
            <div class="invalid-feedback"></div>
          </div>

          <div>
            <label for="{{lf.amount.id_for_label}}" class="col-form-label p-0 fw-bold">{{lf.amount.label}}</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="Naira">&#8358;</span>
              {{lf.amount|add_class:"form-control"|attr:"aria-label:Amount"|attr:"placeholder:10000"}}
            </div>
          </div>

          <div class="row g-2">
            <div class="col-6">
              <div>
                <label for="{{lf.guarantor_1.id_for_label}}"
                  class="col-form-label p-0 fw-bold">{{lf.guarantor_1.label}}</label>
                {{lf.guarantor_1|add_class:"search-select"|attr:"aria-label:Select Guarantor 1"}}
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-6">
              <div>
                <label for="{{lf.guarantor_2.id_for_label}}"
                  class="col-form-label p-0 fw-bold">{{lf.guarantor_2.label}}</label>
                {{lf.guarantor_2|add_class:"search-select"|attr:"aria-label:Select Guarantor 2"}}
                <div class="invalid-feedback"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Request</button>
      </div>
    </div>
  </div>
</div>

{% comment %} LOAN REPAYMENT FORM {% endcomment %}
<div class="modal fade" id="lrm" tabindex="-1" aria-labelledby="lrml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lrml">Loan Repayment Application</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="lrm">
          {% csrf_token %}

          <div class="mb-2">
            <label for="{{lrf.member.id_for_label}}" class="col-form-label p-0 fw-bold">{{lrf.member.label}}</label>
            {{lrf.member|add_class:"search-select"|attr:"aria-label:Select Member"}}
            <div class="invalid-feedback"></div>
          </div>

          <div class="form-floating mb-2">
            <input type="text" class="form-control" aria-label="Loan" name="loan" data-id id="id_loan" value="-"
              readonly>
            <label for="id_loan">Loan</label>
          </div>

          <div class="card mb-2 text-bg-primary">
            <div class="card-body d-flex justify-content-between p-2">
              <span class="fw-bold">Current Outstanding:</span>
              <span class="fw-bold" id="outAmt" data-value>-</span>
            </div>
          </div>


          <div class="mb-2">
            <label for="{{lrf.amount.id_for_label}}" class="col-form-label p-0 fw-bold">{{lrf.amount.label}}</label>
            {{lrf.amount|add_class:"form-control"|attr:"aria-label:Amount"}}
            <div class="invalid-feedback"></div>
          </div>

          <div class="mb-2">
            <label for="outAmt2" class="col-form-label p-0 fw-bold">Outstanding after payment</label>
            <input type="text" class="form-control" data-name="out_amt" id="outAmt2" value="-" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Repay</button>
      </div>
    </div>
  </div>
</div>

{% comment %} MEMBER FORM {% endcomment %}
<div class="modal fade" id="mm" tabindex="-1" aria-labelledby="mml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mml">Register Member</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="mm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="profile-image mb-2">
            <img src="{% static 'img/avatar/default_avatar.png' %}" alt="Avatar" />
            <label for="{{mf.avatar.id_for_label}}">
              <svg>
                <use xlink:href="{% static 'svg/sprite.svg' %}#icon-camera-bold"></use>
              </svg>
              {{mf.avatar}}
            </label>
          </div>
          <div class="row g-2">
            <span class="profile-span mt-3">Account Type</span>
            <div class="col-md-12 mb-2">
              <div>
                <div id="{{mf.account_type.id}}" class="btn-group btn-group-lg w-100" role="group"
                  aria-label="Account Type List">
                  {% for value, text in mf.account_type.field.choices %}
                  <input type="radio" class="btn-check" value="{{value}}" name="account_type"
                    id="id_account_type{{forloop.counter}}" autocomplete="off" {% if forloop.first %}checked{% endif %}>
                  <label class="btn btn-outline-primary btn-lg"
                    for="id_account_type{{forloop.counter}}">{{text}}</label>
                  {% endfor %}
                </div>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <span class="profile-span">Personal Information</span>

            <div class="col-md-12">
              <div class="form-floating">
                {{mf.name|add_class:"form-control"|attr:"placeholder:Name"}}
                <label for="{{mf.name.id_for_label}}">{{mf.name.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                {{mf.account_number|add_class:"form-control"|attr:"placeholder:Name"}}
                <label for="{{mf.account_number.id_for_label}}">{{mf.account_number.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{mf.email|add_class:"form-control"|attr:"placeholder:name@example.com"}}
                <label for="{{mf.email.id_for_label}}">{{mf.email.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{mf.phone|add_class:"form-control"|attr:"placeholder:Phonenumber"}}
                <label for="{{mf.phone.id_for_label}}">{{mf.phone.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{mf.occupation|add_class:"form-control"|attr:"placeholder:Occupation"}}
                <label for="{{mf.occupation.id_for_label}}">{{mf.occupation.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                {{mf.address|add_class:"form-control"|attr:"placeholder:Address"}}
                <label for="{{mf.address.id_for_label}}">{{mf.address.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>

            <span class="profile-span mt-3">Next of Kin Information</span>

            <div class="col-md-6">
              <div class="form-floating">
                {{mf.nok_name|add_class:"form-control"|attr:"placeholder:Next of Kin Name"}}
                <label for="{{mf.nok_name.id_for_label}}">{{mf.nok_name.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{mf.nok_email|add_class:"form-control"|attr:"placeholder:Next of Kin Email address"}}
                <label for="{{mf.nok_email.id_for_label}}">{{mf.nok_email.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{mf.nok_phone|add_class:"form-control"|attr:"placeholder:Next of Kin Phone number"}}
                <label for="{{mf.nok_phone.id_for_label}}">{{mf.nok_phone.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                {{mf.nok_relationship|add_class:"form-select"}}
                <label for="{{mf.nok_relationship.id_for_label}}">{{mf.nok_relationship.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-floating">
                {{mf.nok_address|add_class:"form-control"|attr:"placeholder:Address"}}
                <label for="{{mf.nok_address.id_for_label}}">{{mf.nok_address.label}}</label>
                <div class="invalid-feedback"></div>
              </div>
            </div>


          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>


{% comment %} CONFIRMATION FORM {% endcomment %}
<div class="modal fade" id="cm" tabindex="-1" aria-labelledby="cml" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cml"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form data-name="cm">
          {% csrf_token %}
          <input type="hidden" name="data" value>
          <p></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>