{% extends 'dashboard/index.html' %}
{% load static %}

{% block mini-dash_content %}
<div class="ms-0 w-100 main-content">
  <div class="px-md-5 px-2 col-12 mt-0">
    <div class="px-md-3">

      <div class="my-3 d-block">
        <div class="card">
          {% include "dashboard/pages/views/widget/savings.html" %}
        </div>
      </div>

      <div class="services services-sub mt-0 mt-md-3 mb-3">
        {% for card in dashboard.cards %}
        <div class="card">
          <div class="card-body h-100">
            <span style="width:2.5rem;height:2.5rem"
              class="me-auto mb-3 d-flex align-items-center justify-content-center border rounded-3">
              <svg style="width:1.3rem;height:1.3rem;fill:currentColor;">
                <use xlink:href="{% static 'svg/sprite.svg' %}#icon-{{card.icon}}"></use>
              </svg>
            </span>
            <p class="card-subtitle text-muted">{{card.title}}</p>
            <p style="font-size:large" class="card-title fw-bold mb-0 lh-1">{{card.detail}}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="card">
        <div class="card-body h-auto">
          <canvas id="chart" class="w-100"></canvas>
        </div>
      </div>

      <div class="my-3">
        {% include "dashboard/pages/views/widget/savings-txn.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block dashboard_script %}
<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script>
  (function ($) {
    /*
     * We need to turn it into a function.
     * To apply the changes both on document ready and when we resize the browser.
     */

    function mediaSize() {
      /* Set the matchMedia */
      const matches_800 = window.matchMedia("(max-width: 991.98px)").matches;
      var ctx = matches_800 ? document.querySelector("#chart") : document.querySelector("#chart");

      ctx.height = 250;
      $(document).ready(() => $.ajax({
        dataType: 'json',
        url: "{% url 'ajax:gc' %}",
        success: function (data) {
          console.log(data)
          const createGradient = (ctx, color) => {
            const chart = ctx.chart;
            if (!chart.chartArea) return color;

            const gradient = chart.ctx.createLinearGradient(0, chart.chartArea.bottom, 0, chart
              .chartArea.top);

            gradient.addColorStop(0, "#ffffff90");
            gradient.addColorStop(1, color);
            return gradient;
          };

          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.chart.map(item => item["month"]),
              datasets: [{
                  fill: "start",
                  lineTension: 0.5,
                  borderWidth: 1.5,
                  borderColor: "#ffa600",
                  label: "Loans Requested",
                  data: data.chart.map(item => item["loans"]),
                  backgroundColor: ctx => createGradient(ctx, "#ffa60090"),
                },
                {
                  fill: "start",
                  lineTension: 0.5,
                  borderWidth: 1.5,
                  borderColor: "#2bc179",
                  label: "Deposits Made",
                  data: data.chart.map(item => item["deposits"]),
                  backgroundColor: ctx => createGradient(ctx, "#2bc17990"),
                },
                {
                  fill: "start",
                  lineTension: 0.5,
                  borderWidth: 1.5,
                  borderColor: "#b168bc",
                  label: "Withdrawals Done",
                  data: data.chart.map(item => item["withdrawals"]),
                  backgroundColor: ctx => createGradient(ctx, "#b168bc90"),
                }
              ],
            },
            option: {
              maintainAspectRatio: false,
              responsive: true,
              plugins: {
                legend: {
                  display: !matches_800,
                  position: "top",
                },
              },
            }
          });
        }
      }))
    }

    /* Call the function */
    mediaSize();
    /* Attach the function to the resize event listener */
    window.addEventListener("resize", mediaSize, false);
  })(jQuery);
</script>
{% endblock  %}