{% extends 'dashboard/pages/base_layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block service_block %}

<div class="p-3 px-md-5">
    <div class="vstack gap-3 p-3">
        <div class="card w-100 mb-auto">
            <div class="card-body">
                <span class="profile-span mb-2">Business Year Settings</span>
                <form id="by">
                    {% csrf_token %}
                    <div class="row g-2">
                        {% for field in form %}
                        <div class="col-6">
                            <div class="form-floating mb-2">
                                {% if field.name|slice:"-5:" == 'month' %}
                                {{field|add_class:"form-select"}}
                                {% else %}
                                {{field|add_class:"form-control"}}
                                {% endif %}
                                <label for="{{field.id_for_label}}">
                                    {{field.label}}
                                </label>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex w-100">
                        <button type="submit" class="btn btn-lg btn-primary mx-auto">Update</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card w-100 mb-auto">
            <div class="card-body">
                <span class="profile-span mb-2">Accout Type Settings</span>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-2">
                            {{ formset.management_form }}
                            {% for form in formset %}
                            <div class="col-6">
                                {% for field in form %}
                                {% if field.name != "id" %}
                                <div class="form-floating mb-2">
                                    {{field|add_class:"form-control"}}
                                    <label for="{{field.id_for_label}}">
                                        {{field.label}}
                                        {% if field.name|slice:"-1:" == 'd' %}
                                        (Months)
                                        {% elif field.name|slice:"-1:" == 'r' %}
                                        (%)
                                        {% endif %}
                                    </label>
                                    {{form.errors}}
                                </div>
                                {% else %}
                                {{field}}
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex w-100">
                            <button type="submit" class="btn btn-lg btn-primary mx-auto">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block dashboard_script %}
<script>
    var formSubmit = {
        ValidateSubmit: (url, form_data) => {
            // send request to handler
            return $.ajax({
                url: url,
                type: "POST",
                cache: false,
                data: form_data,
                contentType: false,
                processData: false,
                success: res => { // <----- make sure you use .then
                    $(".is-invalid").removeClass("is-invalid");
                    $(".invalid-feedback").removeClass("d-block");
                    $(".invalid-feedback").html();

                    if (res.status == "success") {
                        toast(res.status, res.message);
                        setTimeout(() => window.location.reload(), 300);
                    } else {
                        if (res.message) toast(res.status, res.message);
                        else Object.entries(res.data).forEach(field => {
                            let _name = field[0];
                            let _error = field[1];
                            let target = $(`#id_${_name}`);
                            target.addClass("is-invalid");
                            if (target.parent().hasClass("form-floating")) {
                                target.parent().find(".invalid-feedback").html(_error);
                                target.parent().find(".invalid-feedback").addClass(
                                    "d-block");
                            } else {
                                target.next(".invalid-feedback").html(_error);
                                target.next(".invalid-feedback").addClass("d-block");
                            }
                        });
                    }
                }
            })
        }
    }

    $(".card form#by").submit(function (e) {
        e.preventDefault();
        var form = this;
        var self = $(this);

        let form_data = new FormData();
        form_data.append('csrfmiddlewaretoken', self.find("input[name='csrfmiddlewaretoken']").val());

        self.find(
            `input:not(
                :disabled,
                [name='csrfmiddlewaretoken']
            ), 
            select, 
            textarea`
        ).each(function () {
            form_data.append($(this).attr("name"), $(this).val());
        });

        let url = `{% url 'ajax:us' %}`;
        return formSubmit.ValidateSubmit(url, form_data);
    });
</script>
{% endblock %}